@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .seccion div {
    margin: 5rem auto;
    height: 10rem;
    width: 60%;
  }
  .colorBase {
    color: #5e8420;
  }
  .bgBase {
    background-color: #5e8420;
  }
  .bgBase-hover {
    background-color: #466318;
  }
}
